<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'customer/login.css' %}">

    <title>Sent Mail</title>
</head>

<body>
    <div class="login-box">
        <h2>Your mail sent </h2>
        <form>

            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Next
            </button>

        </form>
    </div>
</body>

</html>