<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'customer/signup.css' %}">
</head>

<body>
    <div class="login-box">
        <h2>Seller Sign Up</h2>
        <form method="post" action="{% url 'sellersignup' %}">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="username" required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="text" name="email" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="text" name="contact" required="">
                <label>Phone number</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
            <div class="user-box">
                <input type="password" name="password_repeat" required="">
                <label>Check Password</label>
            </div>

                <button type="submit" >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>



        </form>
    </div>
</body>

</html>